<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

  <head>
	<meta charset="UTF-8">
	<title>sign up</title>
	<script>
	  	function emailCheck(){
	  		var token = $("input[name='_csrf']").val();
	  		var header = "X-CSRF-TOKEN";
	  		
	  		const email = $("#email").val();
	  	    		
	  		$.ajax({
	  			url : "/user/emailCheck",
	  			type:"post",
	  			data:{"email":email},
	  			beforeSend : function(xhr)
		  		  {  
		  		 	 xhr.setRequestHeader(header, token);
		  		  },

	  			success : function(data){
	  				if(data==1){ //중복 이메일
	  					$('.id_ok').css("display","none"); 
	                    $('.id_already').css("display", "inline-block");
	                    
	  				}else if(data==0){
	                    $('.id_ok').css("display","inline-block"); 
	                    $('.id_already').css("display", "none");
	                    $('#email').val()
	  				}else{
	  					alert("ajax 에러");
	  				}
	  			},
	  			error: function(request,status,data){
	  				alert("ajax error! code:" + request.status + "\n" + "error :" + data);
	  			}
	  		});
	  	}
	  
	  </script>
	  <style>
	  	.id_ok{
		color:#008000;
		display: none;
		}
		
		.id_already{
		color:#6A82FB; 
		display: none;
		}
		.fieldError {
            color: #bd2130;
        }

	  </style>
	
  </head>
 
  <body>
    <h1>Sign Up</h1> <hr>

    <form th:action="@{/user/join}" method="POST" th:object="${userDto}">
       <div> 
      	<label th:for="email">이메일</label>
      	<input type="text" id="email" th:field="*{email}" placeholder="이메일을 입력하세요" name="email" oninput = "emailCheck()" >
      	<span class="id_ok">사용 가능한 이메일입니다.</span>
      	<span class="id_already">이미 사용중인 아이디입니다.</span>
      	<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError"> incorrect data</span>
      </div>
      <div>
      	<label th:for="nickname">닉네임</label>
      	<input type="text" id="nickname" th:field="*{nickname}" placeholder="닉네임을 입력하세요" name="nickname" >
      	<span th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}" class="fieldError"> incorrect data</span>
      </div>
      <div>
      	<label th:for="password">비밀번호</label>
      	<input type="password" id="password" th:field="*{password}" placeholder="비밀번호를 입력하세요" name="password" >
      	<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError"> incorrect data</span>
      </div>
       <Br><BR>
       
       -------------------------------------------
      
     <BR><BR>
      
      
      <input type="radio" name="auth" value="ROLE_ADMIN,ROLE_USER"> admin
      <input type="radio" name="auth" value="ROLE_USER" checked="checked"> user <br>
      <button type="submit">Join</button>
    </form> <br>
	
    <a href="/user/login">Go to login →</a>
    
  
  	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="/js/register.js"></script>
  </body>
</html>